@media (max-width:768px){
    /* 共通屬性 */
    .mbdpno{
        display: none;
    }
    /* header mbcss */
    body{
        background-color: #FFF8E5;
        font-family: "Microsoft JhengHei";
    }
    .mb-nav{
        position: fixed;
        min-width:393px;
        width: 100%;
        display: block;
        z-index: 1;
    }
    .mb-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #474143;
    }
    .mb-link-bg{
        background-color: #1F1E1E;
        width: 100%;
        height: 6px;
    }
    .mb-align{
        display: flex;
        align-items: center;
        gap: 3px;
    }
    .mb-logo{
        width: 63px;
        height: 51px;
    }
    .mb-logo img{
        width: 100%;
        padding-left: 10px;
    }
    .mb-span-style{
        display: block;
        width: 42px;
        height: 5px;
        background-color: #FFF8E5;
        border-radius: 5px;
        margin: 10px;
    }
    #mbhb-span1{
        transform: rotate(0deg);
        transition: 0.3s;
        position: relative;
        top: 0px;
    }
    #mbhb-span2{
        transition: 0.3s;
    }
    #mbhb-span3{
        position: relative;
        bottom: 0px;
        transform: rotate(0deg);
        transition: 0.3s;
    }
    
    .mb-donate a{
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: #474143;
        width: 98px;
        height: 64px;
        background-color: #FFC636;
        border-radius:52px 0 0 52px ;
        text-align: center;
        padding: 21px 0px;
        box-sizing: border-box;
        text-decoration: none;
    }
    .mb-navlink-align{
        position: absolute;
        top: 64px;
        transition: 0.3s;
    }
    .mb-navlink{
        background-color: #474143;
        width: 159px;
        height: 150px;
        padding: 17px 0px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .mb-navlink a{
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color:#FFF8E5;
        padding-left: 20px;
    }
    .mb-navlink-bg{
        background-color: #1F1E1E;
        width: 159px;
        height: 6px;
    }
    .banner{
        bottom: -70px;
    }
    .mb-banner-bg{
        display: block;
        width: 100%;
        z-index: -1;
    }
    .mb-banner-bg img{
        width: 100%;
    }
    .mb-banner-arc{
        display: block;
        width: 100%;
        position: absolute;
        bottom:0%;
        z-index: -1;
    }
    .mb-banner-arc-pic img{
        width: 100%;
    }
    .banner-link{
        bottom: 10%;
        left: 43%;
        
    }
    .banner-round{
        width: 8px;
        height: 8px;
    }

    /* footer mb CSS */
    .mb-footer-bg{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 133px;
        background-color: #474143;
    }
    .mb-footer-content{
        width: 76%;
        margin: auto;
    }
    .footer-content-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mb-footer-logo{
        width: 81px;
        height: 65px;
    }
    .mb-footer-logo img{
        width: 100%;
    }
    .mb-footer-text{
        font-size: 8px;
        line-height: 25px;
        letter-spacing: 10%;
        color: #FFF8E5;
    }
    .mb-declaration{
        font-size: 8px;
        font-weight: bold;
        color: #FFF8E5;
        margin-top: 15px;
    }
    .mb-footer-cover{
        width: 100%;
        height: 10px;
        background-color: #121112;
    }

    /* index mb CSS */
    .index-bg{
        width: 90%;
        margin-top: 100px;
    }
    .index-universal{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .index-pic{
        width: 52%;
        height: 246px;
    }
    .index-pic-order{
        order: -1;
    }
    .index-content{
        width: 100%;
        height: 266px;
        gap: 10px;
    }
    .about-pic-A img{
        width: 126px;
        height: 198px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .about-pic-B img{
        width: 126px;
        height: 198px;
        bottom:0px;
        right: 0px;
    }
    .index-content h1{
        font-size: 18px;
    }
    .index-content p{
        font-size: 16px;
    }
    .about-content-a{
        width: 80px;
        height: 30px;
        border-radius: 10px;
    }
    .about-content-a a{
        font-size: 14px;
    }
    .party-content-b{
        width: 120px;
        height: 30px;
        border-radius: 10px;
    }
    .party-content-b a{
        font-size: 14px;
    }
    .index-user{
        flex-direction: column;
        width: 100%;
    }
    .user{
        align-items: center;
    }
    .user-img img{
        width: 207px;
        height: 207px;
    }
    .user-text h2{
        font-size: 18px;
    }
    .user-text p{
        font-size: 16px;

    }
}