@media (max-width:768px){
    /* 共通屬性 */
    .mbdpno{
        display: none;
    }
    /* header mbcss */
    body{
        background-color: #FFF8E5;
        font-family: "Microsoft JhengHei";
    }
    .mb-nav{
        position: fixed;
        min-width:393px;
        width: 100%;
        display: block;
        z-index: 2;
    }
    .mb-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #474143;
    }
    .mb-link-bg{
        background-color: #1F1E1E;
        width: 100%;
        height: 6px;
    }
    .mb-align{
        display: flex;
        align-items: center;
        gap: 3px;
    }
    .mb-logo{
        width: 63px;
        height: 51px;
    }
    .mb-logo img{
        width: 100%;
        padding-left: 10px;
    }
    .mb-span-style{
        display: block;
        width: 42px;
        height: 5px;
        background-color: #FFF8E5;
        border-radius: 5px;
        margin: 10px;
    }
    #mbhb-span1{
        transform: rotate(0deg);
        transition: 0.3s;
        position: relative;
        top: 0px;
    }
    #mbhb-span2{
        transition: 0.3s;
    }
    #mbhb-span3{
        position: relative;
        bottom: 0px;
        transform: rotate(0deg);
        transition: 0.3s;
    }
    
    .mb-donate a{
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: #474143;
        width: 98px;
        height: 64px;
        background-color: #FFC636;
        border-radius:52px 0 0 52px ;
        text-align: center;
        padding: 21px 0px;
        box-sizing: border-box;
        text-decoration: none;
    }
    .mb-navlink-align{
        position: absolute;
        top: 64px;
        transition: 0.3s;
    }
    .mb-navlink{
        background-color: #474143;
        width: 159px;
        height: 185px;
        padding: 17px 0px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .mb-navlink a{
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color:#FFF8E5;
        padding-left: 20px;
    }
    .mb-navlink-bg{
        background-color: #1F1E1E;
        width: 159px;
        height: 6px;
    }
    .banner{
        bottom: -70px;
    }
    .mb-banner-bg{ 
        display: block;
        width: 100%;
        max-width: 768px;
        overflow: hidden;
    }
    .mb-banner-bg-align{
        display: flex;
        position: relative;
        right: 0px;
        transition: 1s;
    }
    .mb-banner-bg img{
        width: 100%;
    }
    .mb-banner-arc{
        display: block;
        width: 100%;
        position: absolute;
        bottom:-2%;
        z-index: 0;
    }
    .mb-banner-arc-pic img{
        width: 100%;
    }
    .banner-link{
        bottom: 10%;
        left: 43%;
        z-index: 1;
    }
    .banner-round{
        width: 10px;
        height: 10px;
        background-color: #8F8686;
        border: 2px solid white;
    }


    /* footer mb CSS */
    .mb-footer-bg{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 133px;
        background-color: #474143;
    }
    .mb-footer-content{
        width: 76%;
        margin: auto;
    }
    .footer-content-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mb-footer-logo{
        width: 81px;
        height: 65px;
    }
    .mb-footer-logo img{
        width: 100%;
    }
    .mb-footer-text{
        font-size: 8px;
        line-height: 25px;
        letter-spacing: 10%;
        color: #FFF8E5;
    }
    .mb-declaration{
        font-size: 7px;
        font-weight: bold;
        color: #FFF8E5;
        margin-top: 15px;
        text-align: center;
    }
    .mb-footer-cover{
        width: 100%;
        height: 10px;
        background-color: #121112;
    }

    /* index mb CSS */
    .index-bg{
        width: 90%;
        margin-top: 120px;
    }
    .index-universal{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .index-pic{
        width: 52%;
        height: 246px;
    }
    .index-pic-item-A{
        width: 126px;
        height: 198px;
        left: 0px;
    }
    .index-pic-item-B{
        width: 126px;
        height: 198px;
        right: -15px;
    }
    .item-indeximg-B img{
        transform: scale(1.6);
    }
    .item-indeximg-C img{
        transform: scale(1.6);
        left: 17px;
    }
    .pic-item-dotted{
        top: -39px;
        transform: scale(0.85);
    }
    .index-pic-order{
        order: -1;
    }
    .index-content{
        width: 100%;
        height: 266px;
        gap: 10px;
    }
    .index-content h1{
        font-size: 18px;
    }
    .index-content p{
        font-size: 16px;
    }
    .about-content-a{
        width: 90px;
        height: 32px;
        border-radius: 10px;
    }
    .about-content-a a{
        font-size: 14px;
    }
    .party-content-b{
        width: 130px;
        height: 32px;
        border-radius: 10px;
    }
    .party-content-b a{
        font-size: 14px;
    }
    .index-user{
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
    }
    .user{
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
    }
    .user-pic{
        width: 170px;
        height: 170px;
    }
    .user-img-dotted{
        top: -22px;
    }
    .user-text h2{
        font-size: 18px;
    }
    .user-text p{
        font-size: 16px;
    }


    /* dogshow mb CSS */
    .filter{
        width: 90%;
        margin-top: 100px;
    }
    .filter h1{
        font-size: 20px;
        margin-top: 30px;
    }
    .filter-content{
        width: 90%;
    }
    .nav-list-item h5{
        font-size: 18px;
    }
    .radio-align{
        display: flex;
        flex-direction: column;
    }
    .radio-align-gender{
        flex-direction: row;
    }
    .gender-radio{
        width: 40px;
        height: 28px;
    }
    .age-radio{
        width: 120px;
        height: 28px;
    }
    .weight-radio{
        width: 155px;
        height: 28px;
    }
    .radio-style{
        font-size: 16px;
    }
    .search-style{
        width: 158px;
        height: 34px;
        font-size: 14px;
        padding-left: 10px;
        border: 2px solid #474143;
    }
    .filter-search{
        right: 0px;
        flex-direction: column;
        align-items: end;
    }
    .filter-search-reset>button{
        width: 105px;
        height: 34px;
        font-size: 16px;
        border: 2px solid #474143;
    }
    .filter-search img{
        width: 14px;
        height: 23px;
        top: 5px;
    }
    .filter-item{
        width: 90%;
        row-gap: 5px;
        min-width: 340px;
    }
    .filter-item-dog{
        width: 43%;
    }
    .item-dog-pic{
        margin-bottom: 20px;
    }
    .dog-pic-img{
        width: 137px;
        height: 137px;
        border-radius: 34px;
    }
    .dog-pic-dotted{
        width: 166px;
        height: 166px;
        top: -17px;
    }

    .item-dog-nickname{
        width: 105px;
        height: 29px;
        top: 40%;

    }
    .item-dog-nickname span{
        font-size: 16px;
        letter-spacing: 2px;
    }
    .item-dog-introduce{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .filter-item-h2{
        width: 96px;
        height: 33px;
        font-size: 16px;
        padding-top:8px;;
    }
    .dog-pic-img-2{
        bottom: 30px;
    }
    .dog-pic-img-3{
        top: 20px;
    }
    .dog-pic-img-4{
        top: 35px;
    }
    .dog-pic-img-6{
        top: 20px;
    }
    .dog-pic-img-8{
        top: -30px;
    }
    .dog-pic-img-11{
        top: -50px;
    }
    .dog-pic-img-12{
        right: 10px;
        top: 15px;
    }
    

    /* dogtalk MB CSS */
    .dog-video{
        width: 90%;
        margin-top: 130px;
    }
    .dog-video h1{
        font-size: 20px;
    }
    .dog-video-items{
        gap: 30px;
    }
    .video-item{
        width: 90%;
        align-items: center;
    }
    .video-item iframe{
        width: 100%;
        height: 180px;
    }
    .video-item-content{
        gap: 13px;
    }
    .item-content-author img{
        width: 60px;
        height: 60px;
    }
    .item-content-text h2{
        font-size: 14px;
        margin-bottom: 15px;
    }
    .item-content-text p{
        font-size: 14px;
    }

    /* singledogparty mb CSS */
    .dog-activity{
        width: 90%;
        margin-top: 130px;
    }
    .dog-activity h1{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .dog-activity-items{
        width: 90%;
    }
    .activity-item{
        gap: 25px;
    }
    .activity-item-text{
        width: 100%;
    }
    .activity-item-text h2{
        font-size: 18px;
    }
    .activity-item-text p{
        font-size: 16px;
    }
    .activity-item-order{
        order: -1;
    }

    /* dogabout mb CSS */
    .dogabout{
        width: 90%;
        margin-top: 160px;
    }
    .dogabout-conter{
        width: 100%;
        min-width: 352px;
    }
    .pentagon-style{
        width: 240px;
        height: 240px;
    }
    .conter-pic-pentagon-01 img{
        transform: scale(1.6);
        top: 45px;
    }
    .dogabout-conter-text h1{
        font-size: 18px;
    }
    .dogabout-conter-text p{
        font-size: 16px;
    }
    
    /* dogdonate mb CSS */
    .dogdonate{
        width: 90%;
        margin-top: 130px;
    }
    .dogdonate h1{
        font-size: 20px;
        margin-bottom: 0px;
    }
    .dogdonate-align{
        gap: 0px;
    }
    .dogdonate-conter-img1{
        width: 90%;
        order: -2;
        margin: 20px auto;
    }
    .dogdonate-conter-text{
        font-size: 16px;
        width: 90%;
    }
    .dogdonate-conter-img2{
        order: -1;
        right: 0%;
        margin-bottom: 10px;
    }
    .dogdonate-conter-img2 img{
        width: 65px;
        height: 60px;
    }
    .dogdonate-form-donationamount{
        width: 85%;
        gap: 20px;
    }
    .dogdonate-form-donationamount h2{
        font-size: 18px;
    }
    .donationamount-radio>label{
        width: 69px;
        height: 69px;
        border-radius: 15px;
        font-size: 16px;
    }
    .donationamount-radio-span{
        font-size: 14px;
    }
    .donationamount-radio-img{
        transform: scale(0.8);
        top: 16%;
    }
    .donationamount-radio-style:checked +.donationamount-radio-hover:nth-child(even){
        color: #474143; 
        font-size: 22px;
    }
    .donationamount-customize{
        height: 47px;
        font-size: 16px;
        margin-top: 30px;
    }
    .dogdonate-form{
        height: 920px;
    }
    .dogdonate-form-data{
        width: 85%;
        margin-top: 40px;
        gap: 15px;
    }
    .dogdonate-form-donationamount{
        margin-top: 35px;
        gap: 15px;
    }
    .dogdonate-form-data h2{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .form-data-inputs{
        gap: 20px;
    }
    .form-data-inputs>input{
        font-size: 16px;
    }
    .form-data-receipt{
        margin-top: 5px;
    }
    .form-data-receipt p{
        font-size: 16px;
    }
    .receipt-radio-style{
        width: 14px;
        height: 14px;
    }
    .data-receipt-radio>label{
        font-size: 16px;
    }
    .form-data-btn{
        margin-top: 5px;
    }
    .form-data-btn label{
        width: 127px;
        height: 43px;
        font-size: 20px;
        padding: 9px 0px;
    }
    .radio-style-checked-yes{
        width: 10px;
        height: 10px;
    }
    .radio-style-checked-no{
        width: 10px;
        height: 10px;
    }

    /* dogdatails mb CSS */
    .dogdatails{
        width: 90%;
        margin-top: 130px;
    }
    .dogdatails h1{
        font-size: 20px;
    }
    .dogdatails-conter{
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin-bottom: 30px;
    }
    .dogdatails-conter img{
        width: 100%;
    }
    .conter-smallimg{
        order: -1;
        margin-bottom: 20px;
    }
    .conter-smallimg img{
        width: 108px;
        height: 108px;
    }
    .conter-text h2{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .conter-text p{
        font-size: 16px;
        line-height: 180%;
        margin-bottom: 10px;
    }
    .conter-btn a{
        width: 110px;
        height: 37px;
        font-size: 18px;
    }
    .dogdatails-dashed{
        width: 100%;
    }
    .dogdatails-dashed img{
        margin-bottom:40px;
    }
    .dogdatails-introduce{
        width: 100%;
        gap: 30px;
    }
    .introduce-conter-align img{
        width: 21px;
        height: 18px;
    }
    .introduce-conter-align h3{
        font-size: 18px;
    }
    .dogdatails-introduce-conter{
        width: 100%;
    }
    .dogdatails-introduce-conter p{
        font-size: 16px;
    }

    /* dogadoption mb CSS */
    .dogadoption-date{
        width: 90%;
        margin-top: 130px;
        margin-bottom: 50px;
    }
    .dogadoption-date-conter{
        border-radius: 30px;
        height: 1000px;
    }
    .dogadoption-date-conter h1{
        font-size: 20px;
    }
    .dogadoption-date-conter p{
        font-size: 16px;
    }

    /* dogadopter mb CSS */
    .dogadopter{
        width: 90%;
        margin-top: 130px;
    }
    .dogadopter-conter{
        width: 100%;
        min-width: 100%;
        margin-bottom: 40px;
    }
    .dogadopter-conter h1{
        font-size: 20px;
    }
    .dogadopter-conter-inputs{
        width: 85%;
        gap: 20px;
    }
    .dogadopter-conter-inputs input{
        font-size: 18px;
        height: 47px;
    }
    .dogadopter-conter-btn button{
        width: 110px;
        height: 37px;
        font-size: 18px;
    }
    .dogadopter-conter h2{
        font-size: 16px;
    }
}