@media (max-width:1919px) {
    .logo img{
        width: 70%;
    }
    .nav ul{
        gap: 20px;
    }
    .normal-a a{
        font-size: 18px;
    }
    .normal-a1{
        width: 110px;
        height: 18px;
    }
    .normal-a2{
        width: 80px;
        height: 18px;
    }
    .select-serve span{
        font-size: 18px;
    }
    .banner-round{
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #F7F1F1;
    }
    .dog-video-items{
        gap: 60px;
    }
    .select-serve{
        width: 100px;
        height: 18px;
    }
    .select-serve img{
        height: 18px;
        width: 15px;
    }
    .select-item{
        width: 100px;
        height: 75px;
        top: 25px;
        border-radius: 10px;
    }
    .select-item a{
        font-size: 16px;
    }
    .donate{
        height: 50px;
    }
    .donate a{
        font-size: 18px;
    }
    .donate a:hover{
        font-size: 22px;
    }
    .donate-bg{
        height: 50px;
    }
    .footer-logo img{
        width: 80%;
    }
    
}
@media (max-width:1800px) {
    .dogadoption-date-bg{
        top: 2%;
        transform: scaleY(1.2);  
    }
    .dogadopter-bg img{
        transform: scaleX(1.1);
    }
    .video-item iframe{
        height: 280px;
    }
}
@media (max-width:1600px) {
    .dogadoption-date-bg{
        top: 10%;
        transform: scaleY(1.35);  
    }
    .dogadopter-bg img{
        transform: scaleX();
    }
    .video-item iframe{
        height: 250px;
    }
}
@media (max-width:1300px) {
    .dogadoption-date-bg{
        top: 20%;
        transform: scaleY(1.8);  
    }
    .dogadopter-bg{
        top: -5%;
        transform: scale(0.9);
    }
    .dogadopter-bg img{
        transform: scaleX(0.9);
    }
    .dogadopter-conter-inputs{
        gap: 30px;
    }
    .dogadopter-conter-inputs input{
        font-size: 20px;
        height: 45px;
    }
    .dogadopter-conter-btn button{
        width: 140px;
        height: 45px;
        font-size: 24px;
    }
    .dogadopter h2{
        font-size: 20px;
    }
    .video-item iframe{
        height: 220px;
    }
}