/* 共通屬性 */
.dpno{
    display: none;
}
.decorate{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.decorate01-img{
    width: 100%;
}
.decorate02-img{
    width: 100%;
}
/* 共用harder footer */
body{
    font-family: "Microsoft JhengHei";
    width: 100%;
    background-color: #FFF8E5;
    position: relative;
}
header{
    width: 100%;
    height: 30%;
    position: relative;
    margin-bottom: -3%;
    z-index: 2;
}
main{
    margin-bottom: 5%;
    position: relative;
}
.link{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 45px;
    z-index: 2;
}

.logo img{
    position:relative;
    left:42px;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style-type: none;
}
.nav li{
    display: flex;
    position: relative;
    align-items: center; 
}
.normal-a a{
    font-size: 24px;
    color: #f2e4e4;
    font-weight: bold;
    text-decoration: none;
}
.normal-a a:hover{
    color: #474143;
    background-color:#f9f3f377;
    border-radius: 3px;
    transition: 0.5s;
}
.normal-a1{
    width: 152px;
    height: 28px;
    text-align: center;
}

.normal-a2{
    width: 103px;
    height: 28px;
    text-align: center;
}
.select{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 1px;
}
.select-serve{
    display: flex;
    height: 28px;
    width: 123px;
    justify-content: center; 
}

.select-serve span{
    font-size: 24px;
    font-weight: bold;
    color: #F2E4E4;
    transition: 0.2s;
    margin-right: 6px;
}
#select-serve-img{
    transition: 0.2s;
} 

.select-item{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #f9f3f377;
    width: 123px;
    height: 94px;
    border-radius: 14px;
    position: absolute;
    top:35px;
}
.select-item a{
    font-size: 20px;
    font-weight: bold;
    color: #474143;
    text-decoration: none;
    position: relative;
    left: 10px;
}
.select-item a:hover{
    color: #F6F3F3;
}
.donate{  
    background-color: #474143;
    border-radius: 52px;
    width: 128px;
    height: 64px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.donate a{
    color:#f2e4e4;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.donate a:hover{
    font-size: 24px;
    transition: 0.5s;
}
.donate-bg{
    position: absolute;
    left: 80px;
    z-index: 1;
    background-color: #474143;
    width: 48px;
    height: 64px;
}
.banner{
    width: 100%;
    position: relative;
    bottom: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.banner-bg{
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
}
.banner-bg-align{
    display: flex;
    position: relative;
    right: 0px;
    transition: 1s;
}
.banner-link{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    left: 46.5%;
    bottom: 22%;
}
.banner-round{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8F8686;
    border: 3px solid white;
}
#banner-round-A{
    background-color: white;
}
.banner-round:hover{
    cursor: pointer;
}
.banner-wave{
    position: absolute;
    bottom: 0px;
    left: 0px;
    vertical-align: middle;
    width: 100%;
}
.banner-wave img{
    width: 100%;
    filter: drop-shadow(0px -9px 20px rgba(0, 0, 0, 0.15));
}
.banner-wave-cover{
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: -4%;
    left: 0%;
    z-index: 3;
}
.banner-wave-cover img{
    width: 100%;
}



/* footer CSS */
.footer-wave img{
    width: 100%;
    vertical-align: middle;
    filter: drop-shadow(0px -9px 20px rgba(0, 0, 0, 0.3));
    position: relative;
    right: 1px;
}
.footer-bg{
    height: 294px;
    width: 100%;
    background-color: #474143;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    width: 71%;
    position: absolute;
    bottom: 50px;
}
.service h3{
    font-size: 22px;
    font-weight: bold;
    color: #FFF8E5;
    margin-bottom: 23px;
}
.service p{
    color: #FFF8E5;
    font-size: 16px;
    line-height: 50px;
}
.footer-logo{
    width: 208px;
    height: 168px;
    margin: auto;
}
.conact h3{
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    color: #FFF8E5;
    margin-bottom: 23px;
}
.conact p{
    text-align: right;
    color: #FFF8E5;
    font-size: 16px;
    line-height: 50px;
}
.declaration{
    color: #FFF8E5;
    font-size: 14px;
    font-weight: bold;
}

/* index css*/
.index-universal{
    display: flex;
    gap: 100px;  
}
.index-pic{
    width: 365px;
    height: 480px;
    display: flex;
    position: relative;
}
.index-pic-item-A{
    width: 246px;
    height: 386px;
    position: absolute;
    left: 25px;
}
.index-pic-item-B{
    width: 246px;
    height: 386px;
    position: absolute;
    right: -25px;
    bottom: 0px;
}
.pic-item-indeximg{
    width: 79%;
    height: 87%;
    overflow: hidden;
    border-radius: 295px;
    position: relative;
}
.pic-item-indeximg img{
    width: 100%;
}
.item-indeximg-A img{
    position: absolute;
    top: 0px;
    transform: scale(1.5);
    z-index: 0;
    transition: 0.3s;
}
.item-indeximg-B img{
    position: absolute;
    top: -20px;
    transform: scale(1.6);
    z-index: 1;
    transition: 0.3s;
}
.item-indeximg-C img{
    position: absolute;
    bottom: 0px;
    left: 30px;
    transform: scale(1.5);
    transition: 0.3s;
}
.item-indeximg-D img{
    position: absolute;
    top: 0px;
    transform: scale(1.5);
    transition: 0.3s;
}
.pic-item-dotted{
    position: absolute;
    top: -25px;
    left: -30px;
    transition: 0.3s;
}
.pic-item-dotted img{
    width: 100%;
}
.index-content{
    width: 442px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

}
.index-content h1{
    font-size: 28px;
    font-weight: bold;
    color: #474143;
    text-align: center;
}
.index-content p{
    font-size: 24px;
    color: #474143;
    line-height: 210%;
    letter-spacing: 2.4px;
    margin-bottom: 16px;
}
.about-content-a{
    background-color: #3A3967;
    border-radius: 20px; 
    width: 122px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content-a:hover{
    background-color: #F4B410;
    cursor:pointer;
}
.about-content-a a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor:pointer;
}
.party-content-b{
    background-color: #3A3967;
    border-radius: 20px; 
    width: 177px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.party-content-b:hover{
    background-color: #F4B410;
    cursor:pointer;
}
.party-content-b a{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.index-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 71%;
    margin: 50px auto 20px;
    gap: 100px; 
    z-index: 2;
}
.index-user{
    display: flex;
    justify-content: space-between;
    width: 907px;   
    margin-top: 30px;
}
.user{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 265px;
    position: relative;
}
.user-img{
    width: 211px;
    height: 83%;
}
.user-img img{
    width: 100%;
}
.user-img-dotted{
    position: absolute;
    top: -33px;
    transition: 0.7s;
}
.user-img-dotted img{
    width: 100%;
}
.user-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-text h2{
    font-size: 32px;
    color: #474143;
    font-weight:bold;
    text-align: center;
    margin-bottom: 17px;
}
.user-text p{
    width: 100%;
    font-size: 22px;
    line-height: 187%;
    letter-spacing: 1.9px;
    color: #474143;

}
.index-decorate01{
    position: absolute;
    top: -50px;
}
.index-decorate02{
    position: absolute;
    top: 1500px;
}
/* dogshow css*/

.filter{
    margin: auto;
    width: 71%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
}
.filter h1{
    font-size: 32px;
    color: #474143;
    letter-spacing: 7px;
    font-weight: bold;
    margin-bottom: 51px;
}
.filter-content{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    position: relative;
}
.filter-nav-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-list-item h5{
    font-size: 28px;
    color: #474143;
    font-weight: bold;
    margin-bottom: 10px;
}
.radio-align{
    display: flex;
    gap: 10px;
}
.filter-search{
    position: absolute;
    right: 20%;
    display: flex;
    gap: 15px;
}
.filter-search-input{
    position: relative;
}
.filter-search label:hover{
    cursor: pointer;
}
.mb-radio-age-align{
    display: flex;
    gap: 10px;
}
.mb-radio-align{
    display: flex;
    gap: 10px;
}
.filter-search img{
    width: 26px;
    height: 42px;
    position: absolute;
    right:10px;
    top: 3px;
}
.search-style{
    box-sizing: border-box;
    width: 298px;
    height: 52px;
    border:3px solid #474143;
    font-size: 20px;
    font-weight: bold;
    color: #938B8B;
    outline: none;
    border-radius: 190px;
    padding-left:20px;
}
.search-style:focus{
    color: #474143;
}
.search-style::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
.filter-search-reset{
    display: none;
}
.filter-search-reset>button{
    width: 140px;
    height: 52px;
    background-color: #fff;
    border: 3px solid #474143;
    border-radius: 190px;
    color: #474143;
    font-size: 24px;
    font-weight: bold;
}
.filter-search-reset>button:hover{
    cursor: pointer;
    background-color: #474143;
    color: #F6F3F3;
}
.filter-radio{
    display: none;
}
.filter-radio[type="radio"]:checked +.radio-hover{
    background-color: #F4B410;
}
.gender-radio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6362AE;
    width: 64px;
    height: 43px;
    border-radius: 20px;
    cursor:pointer;
    transition: 0.25s;
}
.radio-style{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}
.radio-hover:hover{
    background-color: #F4B410;
}
.age-radio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6362AE;
    width: 187px;
    height: 43px;
    border-radius: 20px;
    cursor:pointer;
    transition: 0.25s;
}
.weight-radio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6362AE;
    width: 229px;
    height: 43px;
    border-radius: 20px;
    cursor:pointer;
    transition: 0.25s;
}
.filter-item{
    width: 54%;
    min-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
}
.filter-item-dog{
    width: 31%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
}
.item-dog-pic{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dog-pic-img{
    width: 83%;
    height: 255px;
    border-radius: 61px;
    overflow: hidden;
    position: relative;
}
.dog-pic-img img{
    width: 100%;
}
.dog-pic-dotted{
    width: 100%;
    transform: scaleY(0.98);
    position: absolute;
    top: -45px;
}
.dog-pic-dotted img{
    width: 100%;
}
.dog-pic-img-1{
    position: absolute;
    transform: scale(1);
    transition: 0.3s;
}
.dog-pic-img-2{
    position: absolute;
    transform: scale(2);
    bottom: 50px;
    left: 20px;
    transition: 0.3s;
}
.dog-pic-img-3{
    position: absolute;
    transform: scale(1.4);
    bottom: 30px;
    transition: 0.3s;
}
.dog-pic-img-4{
    position: absolute;
    transform: scale(2);
    bottom: 0px;
    right: 15px;
    transition: 0.3s;
}
.dog-pic-img-5{
    position: absolute;
    transform: scale(1);
    top: -30px;
    transition: 0.3s;
}
.dog-pic-img-6{
    position: absolute;
    transform: scale(1.8);
    top:50px;
    transition: 0.3s;
}
.dog-pic-img-7{
    position: absolute;
    transform: scale(2.2);
    bottom: 28px;
    right: 20px;
    transition: 0.3s;
}
.dog-pic-img-8{
    position: absolute;
    transform: scale(1);
    bottom: -75px;
    transition: 0.3s;
}
.dog-pic-img-9{
    position: absolute;
    transform: scale(1);
    top: -15px;
    transition: 0.3s;
}
.dog-pic-img-10{
    position: absolute;
    transform: scale(1);
    transition: 0.3s;
}
.dog-pic-img-11{
    position: absolute;
    transform: scale(1);
    bottom: -50px;
    transition: 0.3s;
}
.dog-pic-img-12{
    position: absolute;
    transform: scale(1.2);
    top: 0px;
    right: 15px;
    transition: 0.3s;
}
.item-dog-nickname{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 41px;
    background-color: #F7F6F188;
    border-radius: 154px;
    position: absolute;
    top: 48%;
    transition: 0.3s;
}
.item-dog-nickname span{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #474143;  
}
.item-dog-introduce{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
    line-height: 30px;
    color: #7A7677;
    transition: 0.3s;
}
.filter-item-h2{
    display: block;
    width: 122px;
    height: 50px;
    border-radius: 50px;
    background-color:#3A3967;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 13px;
    transition: 0.3s;
}
.filter-message{
    display: none;
    width: 40%;
    margin: auto;
}
.filter-message img{
    width: 100%;
}
.dogshow-decorate01{
    position: absolute;
    top: 0px;
}
.dogshow-decorate02{
    position: absolute;
    top: 2100px;
}
/* dog talk css */
.dog-video{
    width: 71%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dog-video h1{
    font-size: 32px;
    color: #474143;
    letter-spacing: 7px;
    font-weight: bold;
    margin-bottom: 51px;
}
.dog-video-items{
    width: 87%;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}
.video-item{
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.video-item iframe{
    max-width: 560px;
    height: 315px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}
.video-item-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.item-content-author{
    width: 83px;
    height: 83px;
}
.item-content-author img{
    width: 100%;
}
.video-item-content h2{
    font-size: 24px;
    font-weight: bold;
    color: #474143;
    margin-bottom: 25px;
}
.video-item-content p{
    font-size: 20px;
    font-weight: bold;
    color: #474143;
}
.dogtalk-decorate01{
    position: absolute;
    top: 0;
}
.dogtalk-decorate02{
    position: absolute;
    top: 130vh;
}
/* singledogparty css */
.dog-activity{
    width: 71%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dog-activity>h1{
    font-size: 32px;
    color: #474143;
    letter-spacing: 7px;
    font-weight: bold;
    margin-bottom: 51px;
}
.dog-activity-items{
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.activity-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.activity-item-img img{
    width: 100%;
    transition: 0.3s;
}
.activity-item-text{
    width: 32%
}
.activity-item-text h2{
    font-size: 28px;
    font-weight: bold;
    color: #474143;
    margin-bottom: 25px;
    text-align: center;
}
.activity-item-text p{
    font-size: 24px;
    color: #474143;
    letter-spacing: 3%;
    line-height: 180%;
}
.dog-activity-divider{
    position: absolute;
    bottom: 0px;
}
.dog-activity-divider img{
    width: 100%;
}
.singledogparty-decorate01{
    position: absolute;
    top: -10px;
}
.singledogparty-decorate02{
    position: absolute;
    top: 1500px;
}

/* dogabout css */
.dogabout{
    width: 71%;
    margin: auto;
}
.dogabout-conter{
    width: 66%; 
    min-width: 904px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dogabout-conter-pic{
    position: relative;
    margin-bottom: 80px;
}
.pentagon-style{
    width: 307px;
    height: 307px;
    clip-path: polygon(15.6% 11.7%,64% 0%,100% 37.4%,84.3% 88.2%,34.5% 100%,0% 62.5%);
    background-repeat: no-repeat;
    overflow: hidden;
}
.conter-pic-pentagon-01 img{
    width: 100%;
    position: absolute;
    transform: scale(1.7);
    top: 50px;
    left: 30px;
    transition: 0.3s;
}
.conter-pic-pentagon-02 img{
    width: 100%;
    position: absolute;
    transform: scale(1.2);
    top: -80px;
    transition: 0.3s;
}
.conter-pic-dotted{
    position: absolute;
    top: 0;
}
.conter-pic-dotted img{
    width: 100%;
    transform: scale(1.3);
    transition: 0.3s;
}

.dogabout-conter-text h1{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 19%;
    color: #474143;
    text-align: center;
    margin-bottom: 20px;
}
.dogabout-conter-text p{
    font-size: 24px;
    color: #474143;
    line-height: 210%;
    letter-spacing: 5px;
    text-align: center;
}
.dogabout-decorate01{
    position: absolute;
    top: 0;
}
.dogabout-decorate02{
    position: absolute;
    top: 1200px;
}



/* dogdonate css */
.dogdonate{
    width: 71%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dogdonate>h1{
    font-size: 32px;
    color: #474143;
    letter-spacing: 7px;
    font-weight: bold;
    margin-bottom: 51px;
}
.dogdonate-align{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.dogdonate-conter{
    position: relative;
    width: 645px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}
.dogdonate-conter-img1{
    margin-top: 80px;
    width: 85%;
    margin-bottom: 50px;
}
.dogdonate-conter-img1 img{
    width: 100%;
}
.dogdonate-conter-text{
    width: 87%;
    font-size: 28px;
    line-height: 220%;
    letter-spacing: 3px;
    color: #474143;
}
.dogdonate-conter-img2{
    position: relative;
    right: -30%;
    bottom: 0px;
}
.dogdonate-conter-img2 img{
    width: 100%;
}
.dogdonate-conter-bg{
    position: absolute;
    top: 0%;
    left: 0%;
}
.dogdonate-conter-bg img{
    width: 100%;
}
.dogdonate-form{
    width: 645px;
    height: 1330px;
    background-color: #474143;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.dogdonate-form-donationamount{
    width: 70%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
    position: relative;
}
.dogdonate-form-donationamount h2{
    font-size: 24px;
    font-weight: bold;
    color: #FFF8E5;
    margin-bottom: 41px;
}
.donationamount-radio{
    display: flex;
    gap: 15px;
    position: relative;
    z-index: 1;
}
.donationamount-radio>input{
    display: none;
}
.donationamount-radio>label{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #FFF8E5;
    width: 95px;
    height: 95px;
    border-radius: 15px;
    background-color: #FBF6F688;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.donationamount-radio-style:checked +.donationamount-radio-hover:nth-child(even){
    color: #474143; 
    font-size: 35px;
}
.donationamount-radio>label:hover{
    color: #474143; 
    font-size: 35px;
    cursor: pointer;
}
.donationamount-radio-span{
    font-size: 16px;
    font-weight: bold;
}
.donationamount-radio-img{
    position: absolute;
    top: 27%;
}
.donationamount-radio-img img{
    transition: 0.3s;
}

.donationamount-customize{
    width: 100%;
    height: 57px;
    border-radius: 190px;
    background-color: #F6F3F3;
    font-size: 22px;
    font-weight: bold;
    padding-left: 28px;
    border: none;
    margin-top: 20px;
    box-sizing: border-box;
}
.donationamount-customize::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.dogdonate-form-data{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.dogdonate-form-data h2{
    font-size: 24px;
    font-weight: bold;
    color: #FFF8E5;
    margin-bottom: 41px;
}
.form-data-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.form-data-inputs>input{
    width: 100%;
    height: 57px;
    background-color: #F6F3F3;
    font-size: 22px;
    font-weight: bold;
    padding-left: 28px;
    border: none;
    border-radius: 190px;
    box-sizing: border-box;
}
.form-data-inputs>input::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.form-data-receipt{
    margin-top: 20px;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    color: #f6f3f3;
    justify-content: center;
    gap: 8px;
}
.receipt-radio-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    background-color: #ABA1A1;
    border-radius: 4px;   
}
.radio-style-checked-yes{
    display: none;
    width: 15px;
    height: 15px;
    background-color: #F2E4E4;
    border-radius: 3px;
}
.radio-style-checked-no{
    display: none;
    width: 15px;
    height: 15px;
    background-color: #F2E4E4;
    border-radius: 3px;
}
.data-receipt-radio>input{
    display: none;
}
.data-receipt-radio{
    display: flex;
    align-items: center;
    gap: 3px;
}
.form-data-btn{
    margin-top: 45px;
}
.form-data-btn input{
    display: none;
}
.form-data-btn label{
    display: block;
    box-sizing: border-box;
    width: 180px;
    height: 60px;
    border: 3px solid #F6EFEF;
    background-color: #474143;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    border-radius: 295px;
    text-align: center;
    padding: 13px 0px;
}
.form-data-btn label:hover{
    background-color: #F6EFEF;
    color: #474143;
    cursor: pointer;
}
.dogdonate-decorate01{
    position: absolute;
    top: 0;
}
.dogdonate-decorate02{
    position: absolute;
    top: 1200px;
}


/* dogdetails css */
.dogdatails{
    width: 71%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dogdatails>h1{
    font-size: 32px;
    color: #474143;
    letter-spacing: 7px;
    font-weight: bold;
    margin-bottom: 51px;
}
.dogdatails-conter{
    width: 82%;
    display: flex;
    justify-content: center;
    gap: 59px;
    margin-bottom: 84px;
}
.dogdatails-conter-bigimg img{
    border-radius: 67px;
}
.dogdatails-conter-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conter-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.conter-text h2{
    font-size: 30px ;
    font-weight: bold;
    color: #474143;
    margin-bottom: 23px;
}
.conter-text p{
    font-size: 20px;
    color: #474143;
    line-height: 300%;
    letter-spacing: 2px;
    margin-bottom: 47px;
}
.conter-smallimg{
    display: flex;
    gap: 35px;
    margin-bottom: 50px;
}
.conter-smallimg img{
    width: 140px;
    height: 170px;
    border-radius: 30px;
}
.conter-smallimg img:hover{
    cursor: pointer;
}
.conter-btn a {
    display: block;
    width: 177px;
    height: 50px;
    border-radius: 20px;
    background-color: #3A3967;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 0px;
    text-align: center;
    box-sizing: border-box;
}
.conter-btn a:hover{
    background-color: #F4B410;
}

.dogdatails-dashed{
    width: 100%;
}
.dogdatails-dashed img{
    width: 100%;
    margin-bottom: 84px;
}
.dogdatails-introduce{
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.dogdatails-introduce-conter{
    width: 1131px;
    background-color: #474143;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduce-conter-align{
    width: 100%;
    display: flex;
    gap: 8px;
    margin-top: 36px;
    margin-left: 60px;
}
.introduce-conter-align h3{
    font-size: 30px;
    font-weight:bold;
    color: #FFF8E5;
}
.dogdatails-introduce-conter p{
    font-size: 24px;
    color: #FFF8E5;
    line-height: 170%;
    letter-spacing: 10%;
    margin: 14px 30px 34px 30px;
}
.dogdetails-decorate01{
    position: absolute;
    top: 0;
}
.dogdetails-decorate02{
    position: absolute;
    top: 1600px;
}


/* dogadoption css */
.dogadoption-date{
    width: 59%;
    margin: 4% auto 170px;
    position: relative;
}
.dogadoption-date-conter h1{
    font-size: 32px;
    color: #474143;
    letter-spacing: 7px;
    font-weight: bold;
    margin-bottom: 40px;
}
.dogadoption-date-conter{
    margin: auto;
    width: 91%;
    background-color: #FFC636;
    border-radius: 61px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dogadoption-date-conter p{
    width: 91%;
    font-size: 22px;
    line-height: 210%;
    letter-spacing: 3px;
    margin-bottom: 50px;
}
.dogadoption-date-a{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 2%;
}
.dogadoption-date-a a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.date-a-span1{
    display: block;
    width: 18px;
    height: 18px;
    background-color: #ABA1A1;
    border-radius: 3px;
}
.date-a-span2{ 
    font-size: 18px;
    font-weight: bold;
    color: #474143;
}
.dogadoption-date-bg{
    width: 100%;
    position: absolute;
    top: -5%;
    transform: scaleY(1);
    z-index: -1;   
}
.dogadoption-date-bg img{
    width: 100%;
    transition: 0.3s;
    transform: scale(1);
}
.dogadoption-decorate01{
    position: absolute;
    top: -60px;
}
.dogadoption-decorate02{
    position: absolute;
    top: 70vh;
}

/* dogadopter css */
.dogadopter{
    width: 71%;
    margin: 50px auto 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dogadopter-conter>h1{
    font-size: 32px;
    color: #474143;
    letter-spacing: 7px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}
.dogadopter-conter{
    width: 58%;
    margin: 70px auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: #FFC636;
    border-radius: 61px;
    padding: 60px 0px;
    box-sizing: border-box;
}
.dogadopter-conter-inputs{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.dogadopter-conter-inputs input{
    width: 100%;
    height: 57px;
    border-radius: 20px;
    border: 3px solid #474143;
    background-color: #FAF8F5;
    font-size: 24px;
    font-weight: bold;
    color: #474143;
    padding-left: 20px;
}
.dogadopter-conter-inputs input::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.dogadopter-conter-btn button{
    width: 177px;
    height: 50px;
    background-color: #3A3967;
    border-radius: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.dogadopter-conter-btn button:hover{
    background-color: #F4B410;
    border: 3px solid #FFF8E5;
}
.dogadopter h2{
    font-size: 24px;
    font-weight: bold;
    color: #474143;
}
.dogadopter-bg{
    position: absolute;
    z-index: -1;
    transform: scale(1);
    transition: 0.3s;
}
.dogadopter-bg img{
    width: 100%;
    transform: scaleX(1.2);
    transition: 0.3s;
}
.dogadopter-decorate01{
    position: absolute;
    top: -60px;
}
.dogadopter-decorate02{
    position: absolute;
    top: 800px;
}
